@reference "tailwindcss";

.icon_outer_space {
	@apply flex
		justify-center items-center
		relative;
}

.user_icon_ring {
	@apply rounded-full flex
		justify-center
		items-center cursor-pointer
		hover:w-13 hover:h-13
		transition-all duration-300
		ease-in-out;
}

.user_icon_ring:hover {
	border: 0;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23B8E8DDFF' stroke-width='3' stroke-dasharray='3%2c 5' stroke-dashoffset='53' stroke-linecap='square'/%3e%3c/svg%3e");
}

.user_icon {
	@apply rounded-full
		flex justify-center items-center;
}