.wrapper {
	display: grid;
	grid-template-columns: minmax(2rem, auto) minmax(320px, 1161px) minmax(2rem, auto);
	min-height: 100vh;
	grid-auto-rows: auto 1fr auto;
	grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
	grid-area: header;
	position: sticky;
	top: 0;
	z-index: 30;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}