@reference "tailwindcss";

.footer_grid {
	display: grid;
	grid-template-columns: minmax(2rem, auto) minmax(320px, 1160px) minmax(2rem, auto);
	grid-template-areas:
	". footer .";
	@apply bg-gray-900;
}

.footer_inner_view {
	grid-area: footer;
	@apply flex flex-col py-16 gap-24;
}

.font_dark {
	@apply text-gray-500 text-sm;
}

.font_light {
	@apply text-white;
}

.page_link {
	@apply hover:underline cursor-pointer duration-300 transition-all;
}

.upper {
	@apply flex justify-between;
}

.lower {
	@apply pt-8 flex
		justify-between items-center
		border-t border-t-gray-800;
}